
.reveal h1 {
  font-family: 'QuickSand';
}

.reveal h2 {
  color: rgb(10, 10, 111);
}

.reveal p, .reveal div, .reveal li {
  font-family: 'Open Sans', cursive;
}

.reveal > header.universal {
  font-family: "Quicksand", sans-serif;
  line-height: 0.9em;
  letter-spacing: -0.08em;
   background-color: #3B5A24;
   color: white;
   position: absolute;
   width: 100%;
   top: 0px;
   min-height: 30px;
   text-align: center;
   padding: 6px;
   padding-bottom: 12px;
   display: none;
}

.reveal > footer.universal {
  background: -moz-linear-gradient(top, white, #3B5A24 100%);
  background: -webkit-linear-gradient(top, white, #3B5A24 100%);
  background: -o-linear-gradient(top, white, #3B5A24 100%);
  background: linear-gradient(top, white, #3B5A24 100%);
  color: white; 
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  min-height: 50px;
  display: none;
}

.reveal > footer.universal > div > img {
  margin-bottom: 22px;
  padding-right: 10%;
  padding-left: 10%;
  max-width:45%;
  max-height: 80px;
}

.reveal > footer.universal > footer {
   border-top: 1px solid white;
   background-color: #3B5A24;
   padding: 6px;
   position: absolute;
   bottom: 0px;
   width: 100%;
}

body {
  background: #ffffff;
  background: -moz-radial-gradient(center, circle cover, #ffffff 0%, #00B8FF 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #00B8FF), color-stop(100%, #ffffff));
  background: -webkit-radial-gradient(center, circle cover, #ffffff 0%, #00B8FF 100%);
  background: -o-radial-gradient(center, circle cover, #ffffff 0%, #00B8FF 100%);
  background: -ms-radial-gradient(center, circle cover, #ffffff 0%, #00B8FF 100%);
  background: radial-gradient(center, circle cover, #ffffff 0%, #00B8FF 100%);
  background-color: white; }

img.geocat {
    content:url(images/GeoCat.png);
}

img.lotsofcats {
    content:url(images/lotsofcats.png);
}

img.geonetwork {
    content:url(images/geonetwork-logo.png);
}