
.reveal h1 {
  font-size: 200%;
}

.reveal h2 {
  font-size: 130%;
  color: rgb(10, 10, 111);
}

.reveal h3 {
  font-size: 110%;
}

.reveal > header.universal {
  content: url(images/GeoCat.png);
  margin: auto;
  max-height:42px;
}

.reveal > footer.universal {
  background-color: #0099CC; 
  position: absolute;
  bottom: 0px;
  width: 100%;
  min-height: 50px;
}

.reveal > footer.universal > div > img {
  max-width:45%;
  max-height: 16px;
}

.reveal > footer.universal > footer {
   border-top: 1px solid white;
   position: absolute;
   bottom: 0px;
   width: 100%;
}

body {
  background: #ffffff;
  background-color: #EDEEF2; 
}


.reveal .controls {
  bottom: 60px;
}
.reveal .controls div.navigate-right.enabled {
  border-left-color:#0099CC;
}
.reveal .controls div.navigate-left.enabled {
  border-right-color:#0099CC;
}
.reveal .controls div.navigate-down.enabled {
  border-top-color:#0099CC;
}
.reveal .controls div.navigate-up.enabled {
  border-bottom-color:#0099CC;
}

img.geocat  {
    content:url(images/GeoCat3.png);
}